
html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    
}



.container{
    display: flex;
    flex-direction: column;
    height: 100vh;  /* height needs to be set to push Footer Down page*/
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}



footer{
    background: #eeeeee;
    display: flex;
    
}

.header, footer{
    display: flex;
}

ul{
    display: flex;
    gap: 15px;
    padding: 10px 20px ;
}

.left-links{
    justify-content: flex-start;
    
}

.right-links{
    margin-left: auto;
  
}



.content{
    flex:auto; /* or flex:1 0 auto - to keep footer sticky at bottom page*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: auto;
} 

img{
    /* max-width: 100%; */
    height: auto;
    width:600px;
}

button{
    background: #eeeeee;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.5vw;
    margin-top: 10px;
}

.button{
    display: flex;
    justify-content: center;
}

.logo {
    text-align: center;
  
}

.test-center{
    display: flex;
    border: 2px solid red;
justify-content: center;
margin: 0 10px;

    
}

.test-input{
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 20px;
    flex:1;
    max-width: 800px;
    background: lightgreen;
    

}

